<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.ricardoantolin.cabifystore">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:name="dev.ricardoantolin.cabifystore.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="dev.ricardoantolin.cabifystore.scenes.splash.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/app_link">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ricardoantolin.dev"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="ricardoantolin"
                    android:scheme="app" />
            </intent-filter>
        </activity>
        <activity
            android:name="dev.ricardoantolin.cabifystore.scenes.products.list.ProductListActivity"
            android:label="@string/title_product_list"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="dev.ricardoantolin.cabifystore.scenes.products.details.ProductDetailActivity"
            android:label="@string/title_product_detail"
            android:parentActivityName="dev.ricardoantolin.cabifystore.scenes.products.list.ProductListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.ricardoantolin.cabifystore.scenes.products.list.ProductListActivity" />
        </activity>
        <activity android:name="dev.ricardoantolin.cabifystore.scenes.cart.CartActivity"
            android:label="@string/title_cart"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="34e9c4c373f3f6eb27d95ebad538b54626ab51f5" />
    </application>

</manifest>